In [1]:
import pandas as pd
from npi.npi import NPI
from npi.utils.utils import longprint

### Instantiate an NPI object

The NPI class provides convenient access to the NPI data housed in our shared folders.

The canonical way to obtain an instance of this class is via (where entities=1 is specified if you only want to work with individuals)

In [2]:
npi = NPI(entities=1)

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
* Function: get_entity
* Metadata: {'func': 'get_entity', 'args': ['/work/akilby/npi/data/', None], 'kwargs': {}, 'code': {'get_entity': '-code snipped-'}}
* (identified) Called functions: ['get_entity']
* Cache found; loaded from ID 1587436437915440
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

### Display a list of data that can be currently managed by adding as an attibute

In [3]:
npi.display_gettable_attributes()

Gettable raw data:
 ['PLICNUM', 'PLICSTATE', 'entity', 'npideactdate', 'npireactdate', 'pcredential', 'pcredentialoth', 'pfname', 'pfnameoth', 'plname', 'plnameoth', 'ploccityname', 'plocline1', 'plocline2', 'plocstatename', 'ploctel', 'ploczip', 'pmname', 'pmnameoth', 'pnamesuffix', 'pnamesuffixoth', 'ptaxcode']


Gettable processed data:
 ['credentials', 'expanded_fullnames', 'fullnames', 'licenses', 'practitioner_type', 'removaldate', 'secondary_practice_locations']

### Retrieve all the data you need 

Hint: if you want to get rid of all the bulky output, run the below cell twice. The second time will be instantaneous and will clear the output.

In [12]:
npi.retrieve('removaldate')
npi.retrieve('fullnames')
npi.retrieve('practitioner_type')
npi.retrieve('plocstatename')
npi.retrieve('credentials')

### Construct a dataset of NPI removals that can be used to search for people

1. Get only doctors and advanced practice nurses for now

In [5]:
npi.practitioner_type.set_index('npi')[['MD/DO', 'CNM', 'CNS', 'CRNA', 'NP', 'Other APRN']]

            MD/DO  CNM  CNS  CRNA  NP  Other APRN
npi
1003000100      0    0    0     0   0           0
1003000126      1    0    0     0   0           0
1003000134      1    0    0     0   0           0
1003000142      1    0    0     0   0           0
1003000159      0    0    0     0   1           0
...           ...  ...  ...   ...  ..         ...
1992999833      0    0    0     0   0           0
1992999858      0    0    0     0   0           0
1992999866      0    0    0     0   0           0
1992999874      1    0    0     0   0           0
1992999882      0    0    0     0   0           0

[4910715 rows x 6 columns]

In [6]:
s = npi.practitioner_type.set_index('npi')[['MD/DO', 'CNM', 'CNS', 'CRNA', 'NP', 'Other APRN']].sum(axis=1) > 0 
mds_aprns = s[s].reset_index().drop(columns=0)

2. Merge together the MD/APRN list with the deactivation list and their credentials

In [7]:
removed = npi.removaldate.merge(mds_aprns)
removed = removed.merge(npi.credentials)
removed = removed.drop(columns='pcredential_stripped')
removed

              npi npideactdate pcredential    cat
0      1003001660   2016-05-27          MD  MD/DO
1      1003003971   2019-11-04          MD  MD/DO
2      1003004326   2017-04-28          DO  MD/DO
3      1003006339   2014-04-30          MD  MD/DO
4      1003006479   2014-05-05          MD  MD/DO
...           ...          ...         ...    ...
50214  1992995732   2010-12-20          MD  MD/DO
50215  1992996169   2014-02-10          MD  MD/DO
50216  1992997316   2014-10-14          MD  MD/DO
50217  1992997761   2019-06-10          MD  MD/DO
50218  1992998306   2016-11-09          MD  MD/DO

[50219 rows x 4 columns]

3. Merge in the state locations in the month they are removed

Here we are selecting the last month observed for each NPI, for convenience

In [8]:
states = npi.plocstatename.groupby('npi', as_index=False).last().drop(columns='month')

In [9]:
removed = removed.merge(states)

4. Merge in full names

In [10]:
removed = removed.merge(npi.fullnames)

### 60 most recent removals

People can be duplicated if they have more than one value for fullname or credential. You can use this additional context to find people

In [11]:
removed.sort_values(['npideactdate', 'npi'])[-60:].head(60)

,npi,npideactdate,pcredential,cat,plocstatename,pfname,pmname,plname,pnamesuffix,othflag
13297,1245387414,2020-04-24,,NaN,MD,JULIA,L,SURRATT,,0
29588,1548508435,2020-04-24,MD,MD/DO,PA,PARVIZ,,KAMBIN,,0
37111,1689984676,2020-04-24,FNP,NP,MD,RITA,M,LEE,,1
37112,1689984676,2020-04-24,FNP,NP,MD,RITA,MARIE,ROBERTAZZI,,0
42141,1780662478,2020-04-24,DO,MD/DO,OH,PAUL,R,WEST,,0
49123,1912086810,2020-04-24,MD,MD/DO,FL,MARK,I,TAFEEN,,0
50329,1932212362,2020-04-24,MD,MD/DO,PA,RUDOLPH,EM,JANOSKO,,0
52180,1962846956,2020-04-24,MD,MD/DO,NY,ANTHONY,EDWARD,LANG,,0
18740,1346545365,2020-04-27,MD,MD/DO,PA,JOHN,WILLIAM,REINHART,,0
21000,1386932986,2020-04-27,MD,MD/DO,OK,GEORGE,FRED,MCDONNOLD,,0
25579,1477640175,2020-04-27,DMD,Dentist,CA,JOHN,S,BOND,,0
33088,1619204609,2020-04-27,MD MACP,NaN,VA,NATHANIEL,THOMAS,CONNALLY,JR,0
42376,1780800722,2020-04-27,MD,MD/DO,GA,SCOTT,,PATTERSON,,0
44838,1831167808,2020-04-27,MD,MD/DO,TN,JOSEPH,F,RALSTON,JR,0
45654,1841421476,2020-04-27,MD,MD/DO,CA,RUSSELL,ROBERT,REDLIN,,0
51143,1952306540,2020-04-27,MD,MD/DO,NY,ALFREDO,GUIAM,DAOS,,0
253,1003854845,2020-04-28,MD,MD/DO,AL,JOSEPH,,MICHALSKI,,0
5185,1093821910,2020-04-28,MD,MD/DO,CT,RICHARD,,KATES,,0
12955,1245216019,2020-04-28,MD,MD/DO,GA,MICHELLE,B,FUTRAL,,0
22373,1417901281,2020-04-28,MD,MD/DO,IN,JOHN,K,SCHNEIDER,,0
27667,1518236165,2020-04-28,MD,MD/DO,PA,HENRY,GEORGE,DEVINCENT,,0
31570,1588761159,2020-04-28,MD,MD/DO,NY,STEPHEN,L,FRIEDES,,0
31901,1598751398,2020-04-28,FNP-C,NP,KY,MARY,JOAN,GRIPSHOVER,,0
31902,1598751398,2020-04-28,SISTER - APRN,NaN,KY,MARY,JOAN,GRIPSHOVER,,0
34003,1639130974,2020-04-28,DO,MD/DO,FL,LINDA,LEA,MANNING-DIMMITT,,0
34004,1639130974,2020-04-28,DO,MD/DO,FL,LINDA,LEA,WILSON,,0
34005,1639130974,2020-04-28,DO,MD/DO,FL,LINDA,LEA MANNING,WILSON,,1
3848,1073527628,2020-04-29,MD,MD/DO,WA,SOLOMON,,KAMSON,,0
4729,1083817308,2020-04-29,MD,MD/DO,FL,ROBERT,LESLLIE,"STEELE, SR",,0
11556,1215905005,2020-04-29,MD,MD/DO,TX,JON,R,GOGOLA,,0
18760,1346598919,2020-04-29,MD,MD/DO,PA,WILLIAM,H,LORD,,0
22084,1407964612,2020-04-29,MD,MD/DO,IL,JACK,L,GIBBS,,0
23141,1427418193,2020-04-29,ARNP,NP,FL,ANNE MARIE,,THOMPSON,,0
28144,1528061769,2020-04-29,MD,MD/DO,PA,ARTHUR,J,KOVEL,,0
31743,1598069692,2020-04-29,MD,MD/DO,NJ,TAJWAR,,AAMIR,,0
31744,1598069692,2020-04-29,MD,MD/DO,NJ,TAJWAR,SULTANA,AAMIR,,1
36108,1679113690,2020-04-29,ESQ,NaN,NY,LINDSAY,ALEXIS,FIEL,,0
36109,1679113690,2020-04-29,ESQ,NaN,NY,LINDSAY,ALEXIS,VOIRIN,,1
36110,1679113690,2020-04-29,MPA,NaN,NY,LINDSAY,ALEXIS,FIEL,,0
36111,1679113690,2020-04-29,MPA,NaN,NY,LINDSAY,ALEXIS,VOIRIN,,1
36112,1679113690,2020-04-29,MD,MD/DO,NY,LINDSAY,ALEXIS,FIEL,,0
36113,1679113690,2020-04-29,MD,MD/DO,NY,LINDSAY,ALEXIS,VOIRIN,,1
53094,1982766283,2020-04-29,MD,MD/DO,NC,BALAJI,,PABBU,,0
20850,1386768646,2020-04-30,MD,MD/DO,FL,FERNANDO,,ORAMAS,,0
27388,1508978669,2020-04-30,MD,MD/DO,WI,JAMES,JOHN,SCERPELLA,,0
30123,1558639179,2020-04-30,MD,MD/DO,NY,JESUS,MANUEL,ZAMBRANO,,0
39289,1730110321,2020-04-30,MD,MD/DO,TX,TODD,MASON,MCCARTY,,0
39552,1730216920,2020-04-30,MD,MD/DO,HI,WALLACE,K C,CHUN,,0
69,1003131582,2020-05-01,ARNP,NP,KS,KRISTEN,L,EDMONSTON,,0
70,1003131582,2020-05-01,ARNP,NP,KS,KRISTEN,L,PROCTOR,,1
5668,1104864511,2020-05-01,MD,MD/DO,ID,JAY,S,KAUFMAN,,0
5669,1104864511,2020-05-01,MD,MD/DO,ID,JAY,STUART,KAUFMAN,,0
5764,1104894559,2020-05-01,MD,MD/DO,NJ,BARRY,HAL,SAKOWITZ,,0
6230,1114259306,2020-05-01,MD,MD/DO,IA,ALEXANDER,,MATTHEWS,,0
7411,1134201155,2020-05-01,MD,MD/DO,WA,HAROLD,HUGH,MCCARTNEY,,0
8067,1144397597,2020-05-01,MD,MD/DO,CA,SAID,M,YUNES,,0
38538,1710954532,2020-05-01,MD,MD/DO,CA,O DOUGLAS,,WILSON,,0
38539,1710954532,2020-05-01,MD,MD/DO,CA,O. DOUGLAS,,WILSON,,0
47613,1881708162,2020-05-01,MD,MD/DO,MD,MOHAMMED,A,MANNAN,,0
47614,1881708162,2020-05-01,MD,MD/DO,MD,MOHAMMED,ABDUL,MANNAN,,0